body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0843d8;
    color: beige;
    padding: 20px;
}
.container {
    max-width: 400px;
    margin: auto;
}
input {
    width: 80%;
    padding: 10px;
}
pre {
    background-color: #7b1313;
    padding: 10px;
    white-space: pre-wrap;
}
